.shop-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #5e5e5c;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 10px;
  outline: none;
  background-color: #ffffff;
}
.active {
  background-color: #8db55f;
}
.disable {
  background-color: #eeeeee;
  cursor: not-allowed;
}
