.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  flex-basis: 78%;
  align-items: start;
  padding: 0 5px;
  overflow: auto;
}
.error {
  flex-basis: 78%;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #b4b0b0;
}
