.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65vh 13vh;
  grid-gap: 10px;
  padding: 10px;
}
.total {
  display: flex;
  justify-content: end;
  align-items: center;
}
.total p {
  margin-bottom: 0;
  font-size: 2em;
}
.total button {
  margin: 0 40px;
  background-color: #8db55f;
  border: 1px solid #eee;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.total button:disabled,
.total button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media screen and (max-width: 950px) {
  .total p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 840px) {
  .cart {
    grid-template-columns: auto;
    grid-template-rows: 35rem auto auto;
  }
}

@media screen and (max-width: 430px) {
  .total p {
    font-size: 1.2em;
  }
  .total button {
    font-size: 1em;
    padding: 7px;
  }
}
