.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65vh 13vh;
  grid-gap: 10px;
  padding: 10px;
}
.total {
  background: #b03532;
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
}
