.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65vh 13vh;
  grid-gap: 10px;
  padding: 10px;
}
.total {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
  justify-content: end;
  align-items: center;
}
.total p {
  margin-bottom: 0;
  font-size: 2em;
}
.total button {
  margin: 0 40px;
  background-color: #8db55f;
  border: 1px solid #eee;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.total button:disabled,
.total button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
