.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  width: 100px;
}
.nav {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
}
.nav a {
  text-decoration: none;
  font-size: 20px;
  line-height: 100%;
  color: #5e5e5c;
  font-weight: 700;
  padding: 5px;
  position: relative;
}
.nav a span {
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: -35px;
  background-color: #8db55f;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 650px) {
  .nav {
    flex-basis: 60%;
  }
}
@media screen and (max-width: 500px) {
  .nav {
    flex-basis: 70%;
  }
}
@media screen and (max-width: 440px) {
  .nav {
    justify-content: space-around;
  }
}
