* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
a.active {
  border-bottom: 4px solid #8db55f;
}
input:focus {
  border: none;
  outline: 1px solid #8db55f;
}
input.error {
  border: 1px solid #e01616;
  outline: none;
}
